@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Regular.woff) format("woff");
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  background-color: rgba(248, 248, 248, 1);
  font-size: 16px;
  margin: 0;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 88px;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-evenly;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 10px;
}
.header__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header__button-1 {
  width: 45px;
  height: 45px;
  background: url("images/burger.svg") no-repeat;
  border: 1px solid #ffffff;
}
.header__button-2 {
  width: 3px;
  height: 32px;
  border: 1px solid #ffffff;
  background-color: #eaeaea;
  background: url(images/divider.svg) no-repeat;
}

.header__button-3 {
  width: 100px;
  height: 60px;
  background: url("images/Group\ \(1\).svg") no-repeat;
  border: 1px solid #ffffff;
}
.header__button-4 {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  background: url(images/call.png) no-repeat;
}
.header__button-5 {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  background: url("images/chat.png") no-repeat;
}
.header__button-6 {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  background: url("images/profile.svg") no-repeat;
}
.header__button-7 {
  width: 2px;
  height: 32px;
  border: 1px solid #ffffff;
  background-color: #eaeaea;
  background: url(images/divider.svg) no-repeat;
}

.header__button-8 {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  background: url("images/repair.svg") no-repeat;
}
.header__button-9 {
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  background: url("images/checkstatus.svg") no-repeat;
}
header::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  background-color: #d9fff5;
  width: 100%;
  top: 88px;
}
.menu {
  background-color: inherit;
  width: 100%;
  margin-left: 0;
}

.menu__h1 {
  font-family: "TT Lakes", serif;
  font-size: 26px;
  color: rgba(27, 28, 33, 1);
  font-weight: bold;
  font-style: normal;
  width: 70%;
  height: 40px;
}
.menu__h1::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: rgba(65, 246, 215, 1);
  margin-right: 10px;
  border: 2px solid rgba(65, 246, 215, 1);
  border-radius: 35%;
}
.content {
  overflow: auto;
}

.content__menu {
  height: 50px;
  border-radius: 5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin-left: 10px;
}
.content__item {
  display: flex;
  font-family: "TT lakes", serif;
  height: 40px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid #f8f8f8;
  flex-shrink: 0;
}

.content__item:hover {
  border: 2px solid rgba(184, 255, 236, 1);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}

.content__link {
  text-decoration: none;
  color: rgba(126, 126, 130, 1);
  padding-left: 15px;
  padding-right: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}
.info__part {
  font-family: "TT Lakes", serif;
  margin-left: 15px;
  font-size: 14px;
}
.info__part:nth-child(2) {
  display: none;
}

.button__a {
  display: flex;
  text-decoration: none;
  font-family: "TT lakes";
  color: black;
  width: 100%;
  padding-left: 15px;
  gap: 10px;
}

.button__a::before {
  content: "";
  position: relative;
  background: url(./images/expand.svg) no-repeat center;
  width: 24px;
  height: 24px;
  margin-left: 0;
}

.foto__img {
  width: auto;
  height: auto;
}
.header__button-2,
.header__button-4,
.header__button-5,
.header__button-6 {
  display: none;
}
.menu__div__input-1,
.menu__div__input-2 {
  display: none;
}
label {
  display: none;
}

@media (min-width: 768px) {
  .header__button-2,
  .header__button-4,
  .header__button-5,
  .header__button-6 {
    display: block;
  }

  .header__center {
    margin-left: auto;
  }
  .header__left {
    margin-right: 10px;
  }

  .menu__h1::before {
    content: "";
    width: 30px;
    height: 40px;
    background-color: rgba(65, 246, 215, 1);
    margin-right: 25px;
    border: 2px solid rgba(65, 246, 215, 1);
    border-radius: 35%;
  }
  .info__part:nth-child(2) {
    display: block;
    margin-left: 15px;
    font-size: 14px;
  }
  .info {
    flex-direction: row;
    width: auto;
    height: auto;
  }
  .info__article {
    display: flex;
    flex-direction: column;
  }
  .foto__img {
    width: 324px;
    height: 249px;
  }
  span {
    display: none;
  }
}
@media (min-width: 1120px) {
  body {
    width: 1120px;
    margin: auto;
  }
  span {
    display: inline;
  }
  .foto__img {
    width: 530px;
    height: 307px;
  }
  .info__article {
    width: 490px;
    height: 210px;
    margin-right: auto;
  }
  .info {
    width: 1120px;
  }
  .button__a::before {
    display: block;
  }
  .content__menu {
    flex-wrap: wrap;
    height: auto;
  }
  .content__item:nth-child(3) {
    display: none;
  }
  .header {
    visibility: hidden;
  }
  .menu__div {
    display: flex;
    width: 1120px;
    height: 50px;
    align-items: center;
    gap: 10px;
  }
  .menu__div__input-1 {
    display: block;
    width: 45px;
    height: 45px;
    align-self: center;
    gap: 10px;
    border: 2px solid rgba(248, 248, 248, 1);
  }
  .menu__div__input-2 {
    display: block;
    width: 45px;
    height: 45px;
    align-self: center;
    gap: 10px;
    border: 2px solid rgba(248, 248, 248, 1);
  }
  .menu__div__input-1 {
    background: url(./images/repair.svg) no-repeat center;
  }
  .menu__div__input-2 {
    background: url(./images/checkstatus.svg) no-repeat center;
  }
  label {
    display: flex;
    align-content: center;
    gap: 5px;
    width: 130px;
    font-family: "TT Lakes";
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
    align-content: center;
  }
}
